<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" >

    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GWAZ" >
        <activity
            android:name=".selection.AMPLIZONE.AllSettings.AllEdit3"
            android:exported="false" />
        <activity
            android:name=".selection.AMPLIZONE.AllSettings.AllEdit4"
            android:exported="false" />
        <activity
            android:name=".selection.AMPLIZONE.AllSettings.AllEdit2"
            android:exported="false" />
        <activity
            android:name=".selection.AMPLIZONE.AllSettings.AllEdit"
            android:exported="false" />
        <activity
            android:name=".selection.AMPLIZONE.AllSettings.EffectsView"
            android:exported="false" />
        <activity
            android:name=".selection.AMPLIZONE.AllSettings.SettingsView"
            android:exported="false" />
        <activity
            android:name=".selection.AMPLIZONE.Add.AmpView"
            android:exported="false" />
        <activity
            android:name=".selection.AMPLIZONE.Add.FinalizeAmp"
            android:exported="false" />
        <activity
            android:name=".selection.AMPLIZONE.Add.GuitarEffects"
            android:exported="false" />
        <activity
            android:name=".selection.AMPLIZONE.Add.additionalKnobs"
            android:exported="false" />
        <activity
            android:name=".selection.AMPLIZONE.Add.AddAmp"
            android:exported="false" />
        <activity
            android:name=".selection.AMPLIZONE.PopularSettings.PopularSettings"
            android:exported="false" />
        <activity
            android:name=".selection.AMPLIZONE.AllSettings.AllSettings"
            android:exported="false" />
        <activity
            android:name=".selection.AMPLIZONE.Genre.GenreSelection"
            android:exported="false" />
        <activity
            android:name=".selection.AMPLIZONE.MainSelect"
            android:exported="false" />
        <activity
            android:name=".selection.GWIZ.Parts.Body.Body"
            android:exported="false" />
        <activity
            android:name=".selection.GWIZ.Parts.Pickups.Pickups"
            android:exported="false" />
        <activity
            android:name=".selection.GWIZ.Parts.TuningPegs.TuningPegs"
            android:exported="false" />
        <activity
            android:name=".selection.GWIZ.Parts.Bridge.Bridge"
            android:exported="false" />
        <activity
            android:name=".selection.GWIZ.Parts.Fretboard.Fretboard"
            android:exported="false" />
        <activity
            android:name=".selection.GWIZ.Parts.Fretboard"
            android:exported="false" />
        <activity
            android:name=".selection.GWIZ.Parts.Strings.Sub.Nylon.Nylon"
            android:exported="false" />
        <activity
            android:name=".selection.GWIZ.Parts.AddItem"
            android:exported="false" />
        <activity
            android:name=".selection.GWIZ.Parts.Edit"
            android:exported="false" />
        <activity
            android:name=".selection.GWIZ.Parts.Partview"
            android:exported="false" />
        <activity
            android:name=".selection.GWIZ.Parts.Strings.Strings"
            android:exported="false" />
        <activity
            android:name=".selection.GWIZ.MainactGwiz"
            android:exported="false" />
        <activity
            android:name=".login.login"
            android:exported="false" />
        <activity
            android:name=".selection.selection"
            android:exported="false" />
        <activity
            android:name=".login.splash"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>